    <div class="ui inverted gray vertical footer segment">
        <div class="ui center aligned container">
            <h4 class="ui inverted header">&copy; Copyright 2020 | All rights reserved | Milan</h4>
            <a href="https://www.facebook.com/"><i class="facebook square icon big"></i></a>
            <a href="https://twitter.com/"><i class="twitter square icon big"></i></a>
            <a href="https://www.linkedin.com/company/c"><i class="linkedin square icon big"></i></a>
           <a href='http://www.freevisitorcounters.com'>Freevisitorcounters</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=92fa67622f74f78fe5f821722f2ffb91e81bfd55'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/659498/t/0"></script>
        </div>
    </div>
