{{> menu id="contact"}}


<section class="ui center aligned middle aligned segment">
        <div class="aboutus">
            <article class="info">
                <h2>Contact:</h2>
                <i class="envelope icon green"></i>
                <p>videohub@gmail.com</p>
                <section>
                 <i class="phone icon green"></i>

                    <p>098/123-5464</p>

                    <p>Come to us.</p>
                </section>
                <section>
                    <h3>Location:</h3>
                  <i class="compass icon green"></i>

                    <div class="mapouter">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19543.423766876083!2d-7.13002645!3d52.244691949999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c41310dd4131%3A0x4042f0dcf13f7cfe!2sWaterford%20Institute%20of%20Technology!5e0!3m2!1sen!2sie!4v1583250128487!5m2!1sen!2sie" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                    </div>
                </section>
            </article>
        </div>
  {{> footer}}
</section>